.navLight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 60px;
  font-weight: 800;
}
.navDark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 60px;
  font-weight: 800;
  background-color: hsl(209, 23%, 22%);
}
.titleLight {
  font-size: 30px;
  color: black;
}
.titleDark {
  font-size: 30px;
  color: hsl(0, 0%, 100%);
}
a {
  text-decoration: none;
}
.darkModeOptionLight {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.darkModeOptionDark {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

.iconLight {
  padding-right: 10px;
  width: fit-content;
}
.iconDark {
  padding-right: 10px;
  width: fit-content;
  color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 414px) {
  .nav {
    padding: 0 10px;
  }
  .title {
    font-size: 14px;
  }
  .dark-mode-option {
    font-size: 11px;
  }
  .icon {
    padding: 0 5px;
  }
}
