.card {
  display: flex;
  flex-direction: column;
  width: 355px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(176, 176, 176, 0.2),
    -1px -1px 3px rgba(176, 176, 176, 0.2);
}
.imgContainer {
  border-radius: 5px 5px 0 0;
  min-width: 100%;
  height: 214px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.detailsContainer {
  padding-top: 35px;
  padding-left: 30px;
}
.countryName {
  font-weight: 900;
  font-size: 1.5rem;
}
.details {
  font-weight: 600;
  padding-top: 20px;
}
.span {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 5px;
}
.link {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 375px) {
  .card {
    width: 300px;
    height: 400px;
  }
}
