.mainLight {
  /* min-height: 92vh; */
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: inset 0 2px 3px rgba(176, 176, 176, 0.3);
}
.mainDark {
  /* min-height: 92vh; */
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  background-color: hsl(207, 26%, 17%);
  box-shadow: inset 0 2px 3px rgba(176, 176, 176, 0.3);
}
.tools {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: 15px;
}
@media only screen and (max-width: 375px) {
  .main {
    padding: 10px 10px;
  }
  .tools {
    flex-direction: column;
    height: 150px;
  }
}
